.spacer {
  height: 58px;
}

.header {
  height: 58px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #090807;
  border-bottom: 1px solid #454443;
  display: flex;
}

.section {
  display: flex;
  align-items: center;
  padding: 0 clamp(10px, 50vw - 405px, 20px);
}

.title a:not(:hover) {
  color: #8b8685;
}
