.spacer {
  height: 58px;
}

.header {
  height: 58px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #090807;
  border-bottom: 1px solid #454443;
  display: flex;
}

.left {
  display: flex;
  align-items: center;
  padding-left: clamp(10px, 50vw - 405px, 20px);
  flex: none;
}

.header,
.header a:not(:hover) {
  color: #8b8685;
}

.middle {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.breadcrumbSeparator {
  margin: 0 0.5em;
  flex: none;
}

.breadcrumbItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right {
  display: flex;
  align-items: center;
  padding-right: clamp(10px, 50vw - 405px, 20px);
  flex: none;
  gap: 16px;
}

.rightItem {
  display: flex;
  flex: none;
}

button.rightItem {
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
}

.titleBadge {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1px 3px;
  border-radius: 2px;
  font-size: 0.85em;
}
.titleBadge[data-mode="private"] {
  background: #f87171;
  color: #090807;
}
.titleBadge[data-mode="preview"] {
  border: 1px solid currentColor;
}
